<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Iniciar sesión</title>
<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
    .boton {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #274a83; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
float:left;
margin-left: 300px;
}
    </style>

</head>
<body>
    
        
        <table class="tftable" border="1">
        <tr><th>referencia</th><th>nombre</th><th>unidades</th><th>Precio unidad</th><th>Subtotal</th></tr>
        <% for(var i = 0;i < productos.length;i++) { %>
        <tr>
            <td><%= productos[i].referencia %></td>
            <td><%= productos[i].nombre %></td>
            <td><%= productos[i].productocarrito.cantidad%></td>
            <td><%= productos[i].precio %></td>
            <td><%= productos[i].productocarrito.cantidad*productos[i].precio %></td>
        </tr>
        <% } %>
        </table>
        <div>
            <form method="post" action="/checkout">
                <input class="boton" type="submit" value="Seguir comprando">
            </form>
        </div>
        <div>
            <form  method="post" action="/">
            <input class="boton" type="submit" value="Finalizar pedido">
            
            </form>
        </div>  
        </body>
</body>
</html>                                		                            